{% extends "blog/base.html"%}
{% block content %}
{% load static %} 
<h1>Menejement Mutu dan Sarpras (Tentang)</h1>
<img src="{% static 'blog/assets/images/Tentang.jpeg' %}" alt="Background Tentang" style="height: 100%; width: 100%"/>
<article class="media content-section">
    <div class="media-body">
    	<br>
        <h3><p class="text-justify" >
        	Kuesioner ini merupakan sistem pemetaan kapasitas dasar laboratorium ilmu hayati (life science) dan Laboratorium Kimia berbasis website yang dikembangkan oleh Indonesia One Health University Network (INDOHUN) melalui program One Health Laboratory Network (OHLN).  
	        </p>

	        <p class="text-justify">
        	Sistem ini menggunakan teknologi yang sederhana dan mudah diaplikasikan, sebagai alat bantu untuk melakukan pemetaan kapasitas dasar laboratorium. 
        	</p>

        	<p class="text-justify">
			Kuesioner pemetan penilaian ini digunakan untuk memantau kapasitas dasar, kekuatan dan kesenjangan suatu organisasi laboratorium di perguruan tinggi, kementerian dan lembaga serta laboratorium pihak swasta.
			</p>
    </div>
</article>
{% endblock content%}