<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
            2. Informasi terdokumentasi (Bu Aroem)
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">

          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-sm-12">
            Isi panduan manajemen biorisiko berisi antara lain:
            <br>
            <br>
            - konteks organisasi 
            <br>
            <br>
            - kepemimpinan (peran, tanggungjawab dan kewenangan)
            <br>
            <br>
            - perencanaan dan penilaian risiko
            <br>
            <br>
            - dukungan
            <br>
            <br>
            - sumberdaya
            <br>
            <br>
            - kesehatan personil
            <br>
            <br>
            - pelatihan dan kompetensi
            <br>
            <br>
            - komunikasi
            <br>
            <br>
            - informasi yang terdokumentasi
            <br>
            <br>
            - non-karyawan dan Pemasok
            <br>
            <br>
            - operasional
            <br>
            <br>
            - investigasi insiden dan inspeksi/audit internal
            <br>
            <br>
            - kaji ulang manajemen
            <br>
            <br>
        </div>
      </div>
    </div>
</div>