<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          28. Teknik Mikrobiologi yang baik (Bu Atie)
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">

          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-sm-12">
            Organisasi sebaiknya menetapkan prosedur:
            <br>
            <br>
            - menetapkan dan mendokumentasikan standar teknik mikrobiologi yang baik;
            <br>
            <br>
            - melatih penerapan standar tersebut, dan mempromosikannya melalui proses komunikasi organisasi;
            <br>
            <br>
            - melaksanakan pengendalian pemantauan untuk menjamin pekerjamemelihara standar;
            <br>
            <br>
            - mengalokasikan sumber daya;
            <br>
            <br>
            - menilai personel, produk, pencemaran lingkungan yang mengikuti prosedur laboratorium jika diperlukan baik dari 
            biorisiko atau perspektif pengendalian kualitas; dan yang sesuai untuk mengatasi risiko terkait dengan hal berikut tetapi 
            tidak terbatas pada : penanganan hewan,sentrifugasi, penanganan jarum dan benda tajam, penggunaan pompa vakum yang benar, 
            Teknik kultur, pemurnian dan penyimpanan, meminimalkan/mengendalikan aerosol, pemipetan, sonikasi, penggunaan BSC, penggunaan desinfektan, 
            pengendalian tumpahan, pengelolaan sampah dengan benar
            <br>
            <br>
            Good Microbiological Procedure and Practice/GMPP diantaranya tidak makan, minum, mengaplikasikan kosmetik, mengaplikasikan lensa kontak, menyimpan makanan dan minuman, memipet dengan mulut dan merokok; serta selalu mencuci tangan setelah bekerja di laboratorium
            <br>
            <br>
        </div>
      </div>
    </div>
</div>