<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle">
        7. Identifikasi Bahaya
      </h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">

        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="col-sm-12">
        Bahaya terkait biorisiko dan/atau ancaman yang terkait dengan pekerjaan yang diusulkan harus diidentifikasi dan
        didokumentasikan
        <br>
        <br>
        Bahan biologis diidentifikasi berdasarkan potensinya untuk membahayakan manusia, hewan, tumbuhan, dan
        lingkungan.
      </div>
    </div>
  </div>
</div>