<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle">
        27. Keamanan Secara Fisik
      </h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">

        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="col-sm-12">
        Organisasi harus memastikan bahwa: pengendalian keamanan fisik dari kultur, spesimen, sampel dan bahan yang
        berpotensi terkontaminasi atau limbah ditentukan sebagai bagian dari proses penilaian risiko yang diterapkan dan
        dipelihara.
      </div>
    </div>
  </div>
</div>