<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle">
        26. Perawatan, Pengendalian, Kalibrasi, Sertifikasi dan Validasi
      </h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">

        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="col-sm-12">
        <li> mengidentifikasi dan mencatat persyaratan sertifikasi pada saat pembelian/akuisisi peralatan, termasuk
          standar yang relevan dan dinyatakan sebagai standar terkini;</li>
        <li> memastikan sertifikasi yang kompeten dan independen (lembaga-lembaga besar mungkin memiliki rumah
          sertifikasi ) yang digunakan untuk proses sertifikasi; </li>
        <li> memastikan sertifikasi dijadwalkan dan dilakukan sesuai dengan persyaratan pabrik dan/atau interval
          tertentu lainnya seperti yang diidentifikasi oleh penilaian risiko;</li>
        <li> melakukan sertifikasi peralatan teridentifikasi;</li>
        <li> memastikan sertifikasi ulang dilakukan setelah perbaikan besar dan relokasi peralatan (jika diperlukan);dan
        </li>
        <li> memastikan sertifikasi ulang dilakukan pada interval yang dibutuhkan.</li>
      </div>
    </div>
  </div>
</div>