<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle">
        1. Kebijakan
      </h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">

        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="col-sm-12">
        Isi kebijakan antara lain:
        <li> melindungi pekerja, pengunjung, dan lingkungan dari paparan dan/atau kontaminasi oleh bahan biologis yang
          disimpan atau ditangani di fasilitas </li>
        <li> menilai dan memprioritaskan risiko yang terkait dengan kegiatan spesifik yang melibatkan bahan biologis
        </li>
        <li> mengurangi risiko pelepasan, pencurian, kehilangan, atau pajanan materi biologis yang tidak disengaja
          atau disengaja melalui penerapan tindakan pengendalian khusus </li>
        <li> merancang dan menerapkan proses untuk terus mengevaluasi dan meningkatkan efektivitas sistem manajemen
          biorisiko </li>
        <li> memastikan bahwa kebutuhan untuk manajemen biorisiko yang efektif harus didahulukan dari semua
          persyaratan operasional yang tidak terkait dengan aspek “kesehatan dan keselamatan” * menginformasikan
          secara efektif kepada semua karyawan dan pihak ketiga terkait, dan mengkomunikasikan kewajiban individu
          terkait manajemen biorisiko kepada kelompok-kelompok tersebut. </li>
      </div>
    </div>
  </div>
</div>