<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          17. Kepedulian
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">

          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-sm-12">
            Semua personil yang bekerja di bawah kendali organisasi harus mengetahui:
            <br>
            <br>
            - kebijakan manajemen biorisiko;
            <br>
            <br>
            - persyaratan rencana pengelolaan biorisiko organisasi, termasuk setiap pembaruan rencana pengelolaan biorisiko organisasi;
            <br>
            <br>
            - hasil investigasi insiden dan kecelakaan yang relevan;
            <br>
            <br>
            - kontribusi terhadap efektivitas sistem manajemen biorisiko, termasuk manfaat dari peningkatan kinerja;
            <br>
            <br>
            - implikasi yang tidak sesuai dengan persyaratan sistem manajemen biorisiko;
            <br>
            <br>
            - persyaratan hukum yang mengatur manajemen biorisiko
            <br>
            <br>
        </div>
      </div>
    </div>
</div>