<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          40. Rencana Darurat (Bu Aroem)
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">

          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-sm-12">
            Hal yang sebaiknya dipertimbangkan:
            <br>
            <br>
            - pencurian atau pengalihan agen biologis dan toksin, peralatan terkait, dokumen atau data;
            <br>
            <br>
            - sabotase termasuk perusakan dan gangguan;
            <br>
            <br>
            - break-in (pembobolan) dan intrusi;
            <br>
            <br>
            - kegagalan utilitas;
            <br>
            <br>
            - kejadian darurat yang berhubungan dengan bencana alam (yaitu, gempa, tsunami, banjir, tornado, dan badai);
            <br>
            <br>
            - Hewan lepas;
            <br>
            <br>
            - masalah tenaga kerja dan perselisihan;
            <br>
            <br>
            - kekerasan di tempat kerja;
            <br>
            <br>
            - tindak pencegahan, pekerjaan dan barikade;
            <br>
            <br>
            - screening dan isolasi paket yang dicurigai;
            <br>
            <br>
            - aksi terorisme; dan
            <br>
            <br>
            - kerusuhan sipil atau perang.
            <br>
            <br>
        </div>
      </div>
    </div>
</div>