<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          41. Pelatihan dan Simulasi Tanggap darurat (Bu Mira)
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">

          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-sm-12">
            Organisasi mempunyai program pelatihan dan simulasi yang terkait dengan keadaan darurat yang sudah diidentifikasi
        </div>
      </div>
    </div>
</div>