<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          24. Perawatan, pengendalian, kalibrasi, sertifikasi dan validasi (Bu Aroem)
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">

          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-sm-12">
            mengidentifikasi dan mencatat persyaratan kalibrasi pada saat pembelian/akuisisi;
            <br>
            <br>
            mengidentifikasi standar/tes yang akan digunakan untuk memastikan peralatan dikalibrasi dengan benar;
            <br>
            <br>
            membuat dokumentasi dan kalibrasi up-to- date untuk semua peralatan yang digunakan;
            <br>
            <br>
            memastikan kalibrasi untuk peralatan yang diidentifikasi, dijadwalkan dan dilaksanakan sesuai dengan rekomendasi produsen, dan/atau interval tertentu lainnya seperti yang diidentifikasi oleh penilaian risiko;
            <br>
            <br>
            menyelesaikan semua dokumen kalibrasi dan menyimpan file untuk catatan di masa mendatang; dan
            <br>
            <br>
            menangani persyaratan kalibrasi untuk sistem manajemen jaminan kualitas.
            <br>
            <br>
        </div>
      </div>
    </div>
</div>