<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          13. Manajemen Senior
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">

          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-sm-12">
            Fungsi-fungsi manajer senior meliputi:
            <br>
            <br>
            - memastikan penyediaan pekerja, fasilitas, dan sumber daya lain yang sesuai dan memadai yang dianggap perlu untuk operasi fasilitas yang aman dan aman;
            <br>
            <br>
            - melaporkan kepada manajemen puncak tentang kinerja sistem manajemen biorisiko dan segala kebutuhan untuk perbaikan;
            <br>
            <br>
            - memastikan promosi sistem manajemen biorisiko di seluruh organisasi;
            <br>
            <br>
            - melembagakan tinjauan, audit, dan langkah-langkah pelaporan untuk memberikan jaminan bahwa persyaratan dokumen ini sedang dilaksanakan dan dipelihara secara efektif.
            <br>
            <br>
            Dokumentasi terkait peran, tanggungjawab, dan wewenang, berupa:
            <br>
            <br>
            - Surat Keputusan,  
            <br>
            <br>
            - Surat Tugas, dll
            <br>
            <br>
        </div>
      </div>
    </div>
</div>