<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          14. Komite Manajemen Biorisiko (Bu Atie)
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">

          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-sm-12">
            Komite harus terdiri dari anggota yang independen terhadap kegiatan yang ditinjau untuk masalah biorisiko
            <br>
            Komite manajemen biorisiko melaporkan kepada manajemen senior dan/atau puncak
            <br>
            <br>
            Komite manajemen biorisiko:
            <br>
            <br>
            - mendokumentasikan kerangka acuan;
            <br>
            <br>
            - terdiri dari perwakilan tenaga ahli dari berbagai bidang ilmu, sesuai dengan sifat dan skala kegiatan yang dilakukan;
            <br>
            <br>
            - memastikan masalah yang ditangani menjadi informasi terdokumentasi, termasuk penugasan, pelacakan, dan penyelesaian semua tindakan;
            <br>
            <br>
            - diketuai oleh seseorang yang ditunjuk oleh senior dan/atau manajemen
            <br>
            <br>
            - melaksanakan pertemuan secara berkala dan jika diperlukan
            <br>
            <br>
            Dokumentasi terkait peran, tanggungjawab dan wewenang, berupa:
            <br>
            <br>
            - Surat Keputusan,  
            <br>
            <br>
            - Surat Tugas, dll
            <br>
            <br>
        </div>
      </div>
    </div>
</div>