<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">  
            5. Non-karyawan (Bu Atie)
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">

          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-sm-12">
            Organisasi memastikan bahwa pemasok, kontraktor, pengunjung dan sub-kontraktor mengikuti syarat-syarat sistem manajemen yang berlaku dan 
            tidak membahayakan/mengorbankan manajemen biorisiko fasilitas
        </div>
      </div>
    </div>
</div>