<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle">
        11. Komitmen
      </h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">

        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="col-sm-12">
        Manajemen puncak harus memastikan bahwa tanggung jawab dan wewenang untuk peran yang relevan ditugaskan dan
        dikomunikasikan dalam organisasi, termasuk kepada mereka yang mengelola, melakukan, dan memverifikasi pekerjaan
        yang terkait dengan kontrol bahan biologis.
      </div>
    </div>
  </div>
</div>