<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          42. Monitoring inventaris (Bu Atie)
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">

          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-sm-12">
            Unsur dalam inventarisasi termasuk :
            <br>
            <br>
            - daftar semua agen biologis dan toksin yang dimiliki, termasuk kultur sel, spesimen dan sumber-sumber lain (misalnya stok asal, working stocks, 
            jaringan/sampel terinfeksi atau hewan, bahan rekombinan).  
            <br>
            <br>
            - daftar semua proyek yang menggunakan bahan biologis yang relevan (misalnya infeksi, rekayasa genetika); penilaian risiko dilakukan untuk bahan biologis, 
            tingkat pengendalian, izin yang diperoleh (jika ada) dan status bahan biologis (aktif/dihentikan) di lokasi tertentu;
            <br>
            <br>
            - Informasi nama dan kontak personel yang bertanggung jawab untuk bahan serta rincian personel lainnya dengan akses ke bahan atau daerah berdasarkan tingkat risiko;
            <br>
            <br>
            - mengidentifikasi dan menerapkan langkah-langkah keamanan fisik yang efektif berdasarkan risiko (misalnya kunci, alarm, akses kendali, dll) di lokasi tertentu;
            <br>
            <br>
            - pengembangan dan pemeliharaan sistem identifikasi sampel yang terpercaya;
            <br>
            <br>
            - identifikasi personel yang dapat dibuktikan kebutuhannya secara sah untuk mengakses ke sistem, agen biologis atau toksin;
            <br>
            <br>
            - penentuan kondisi untuk transportasi bahan biologis (pelacakan pengiriman, verifikasi, personel yang bertanggung jawab); dan
            <br>
            <br>
            - inventarisasi bahan biologis yang dikirim dan diterima, termasuk bahan yang dikonsumsi, dihancurkan atau dihapuskan
            <br>
            <br>
        </div>
      </div>
    </div>
</div>