<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          12. Manajemen Puncak
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">

          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-sm-12">
            Komitmen manajemen puncak memastikan ketersediaan sumber daya untuk:
            <br>
            <br>
            - membangun,
            <br>
            <br>
            - menerapkan,  
            <br>
            <br>
            - memelihara,
            <br>
            <br>
            - meningkatkan sistem manajemen biorisiko
            <br>
            <br>
            Manajemen puncak tidak harus mendelegasikan tanggung jawab utamanya, tetapi dapat mendelegasikan wewenang
            <br>
            <br>
        </div>
      </div>
    </div>
</div>