<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle">
        30. Teknik Mikrobiologi yang Baik
      </h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">

        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="col-sm-12">
        Label meliputi:
        <li> Tingat keselamatan laboratorium (BSL 1, BSL 2, BSL 3, BLS 4 dan fasilitas hewan (ABSL 1, ABSL 2, ABSL 3,
          ABSL 4)</li>
        <li> Biohazard (bahan biologis berbahaya) yang ditangani</li>
        <li> Persyaratan APD</li>
        <li> Persyaratan kesehatan</li>
        <li> Nama dan kontak penanggung jawab</li>
        <li> Kontak darurat</li>
      </div>
    </div>
  </div>
</div>