<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle">
        23. Perawatan, Pengendalian, Kalibrasi, Sertifikasi dan Validasi
      </h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">

        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="col-sm-12">
        <li> mengidentifikasi peralatan sesuai dengan kebutuhan pekerjaan yang telah diidentifikasi sesuai dengan
          tujuan;</li>
        <li> mengendalikan pembelian/akuisisi/transfer peralatan untuk memastikan semua penilaian risiko yang diperlukan
          selesai dan persetujuan disahkan oleh personel yang kompeten;</li>
        <li> pengendalian lalu lintas peralatan ke dan dari fasilitas, termasuk persyaratan disinfeksi (misalnya air
          lock dan disinfeksi);</li>
        <li> mendokumentasikan peralatan dan fungsinya bahan dan limbah;</li>
        <li> mengadopsi sistem audit trail untuk peralatan, bahan dan limbah; dan</li>
        <li> menetapkan dan mempertahankan</li>
        <li> nventarisasi semua fasilitas dan peralatan ilmiah, termasuk suku cadang yang penting dan bahan habis pakai.
        </li>
      </div>
    </div>
  </div>
</div>