<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          26. Perawatan, pengendalian, kalibrasi, sertifikasi dan validasi
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">

          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-sm-12">
            mengidentifikasi dan mencatat persyaratan validasi pada saat pembelian/akuisisi;
            <br>
            <br>
            mengidentifikasi standar/tes yang akan digunakan untuk memastikan peralatan divalidasi dengan benar;
            <br>
            <br>
            membuat dokumentasi dan daftar validasi up- to-date untuk semua peralatan yang digunakan;
            <br>
            <br>
            memastikan validasi dijadwalkan dan dilakukan sesuai dengan persyaratan produsen dan/atau interval tertentu lainnya seperti yang diidentifikasi oleh penilaian risiko;
            <br>
            <br>
            memastikan perusahaan validasi kompeten dan independen (lembaga-lembaga besar yang mungkin memiliki kelompok validasiin-house) yang digunakan untuk proses validasi; dan
            <br>
            <br>
            melakukan tes yang diperlukan untuk validasi.
            <br>
            <br>
        </div>
      </div>
    </div>
</div>