<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          35. Dekontaminasi dan Pengolahan Limbah (Bu Mira)
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">

          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-sm-12">
            Organisasi harus:
            <br>
            <br>
            - memastikan bahwa semua barang yang terkontaminasi atau berpotensi terkontaminasi dan semua aliran limbah potensial dan sumber 
            kontaminasi lain diidentifikasi dan didokumentasikan;
            <br>
            <br>
            - telah memvalidasi prosedur dekontaminasi limbah bahan biologis yang sesuai untuk biorisiko;
            <br>
            <br>
            - menetapkan dan memelihara kebijakan pengelolaan limbah yang tepat untuk mengendalikan biorisiko dari bahan biologis;
            <br>
            <br>
            - memastikan bahwa pekerja dilatih tentang kebijakan dan protokol limbah dan dekontaminasi; dan
            <br>
            <br>
            - mengimplementasikan program pengelolaan limbah, termasuk ketentuan untuk penyimpanan limbah, identifikasi, segregasi, 
            pengemasan, pengangkutan, dekontaminasi, pembuangan, dan dokumentasi Prosedur.
            <br>
            <br>
        </div>
      </div>
    </div>
</div>