<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle">
        21. Commissioning dan Decommissioning
      </h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">

        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="col-sm-12">
        Organisasi harus memastikan bahwa ada proses formal bagi commissioning awal untuk fasilitas baru dan
        decommissioning akhir untuk fasilitas yang sudah ada.
        <br>
        <br>
        Commissioning akan memastikan bahwa fasilitas yang dibangun dan dilakukan sebagaimana dimaksud.
        <br>
        <br>
        Proses decommissioning
        <li>mengidentifikasi prosedur disinfeksi dan langkah- langkah yang berkaitan dengan keamanan ditujukan untuk
          penutupan fasilitas sementara atau permanen;</li>
      </div>
    </div>
  </div>
</div>