<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
            9. Pengendalian Risiko (Bu Mira)
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">

          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-sm-12">
            Identifikasi dan implementasi langkah pengendalian harus didasarkan pada hasil penilaian biorisiko
            <br>
            <br>
            Langkah pengendalian harus dirancang untuk menghilangkan atau mengurangi biorisiko ke tingkat yang dapat diterima
            <br>
            <br>
            Organisasi harus memastikan bahwa sedapat mungkin proses yang dikelola oleh pihak ketiga dikendalikan secara konsisten dan sejalan dengan proses yang dilakukan dalam organisasi
            <br>
            <br>
        </div>
      </div>
    </div>
</div>