<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle">
        13. Manajemen Senior
      </h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">

        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="col-sm-12">
        Fungsi-fungsi manajer senior meliputi:
        <li> memastikan penyediaan pekerja, fasilitas, dan sumber daya lain yang sesuai dan memadai yang dianggap perlu
          untuk operasi fasilitas yang aman dan aman</li>
        <li> melaporkan kepada manajemen puncak tentang kinerja sistem manajemen biorisiko dan segala kebutuhan untuk
          perbaikan</li>
        <li> memastikan promosi sistem manajemen biorisiko di seluruh organisasi</li>
        <li> melembagakan tinjauan, audit, dan langkah-langkah pelaporan untuk memberikan jaminan bahwa persyaratan
          dokumen ini sedang dilaksanakan dan dipelihara secara efektif.</li>
        <br><br>
        Dokumentasi terkait peran, tanggungjawab, dan wewenang, berupa: Surat Keputusan, Surat Tugas, dll
      </div>
    </div>
  </div>
</div>