<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          20. Kompetensi (Bu Mira)
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">

          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-sm-12">
            Organisasi harus:
            <br>
            <br>
            - menentukan kompetensi yang diperlukan dari personel yang bekerja di bawah kendali dan pengaruhnya terhadap kinerja manajemen biorisikonya;
            <br>
            <br>
            - memastikan bahwa personel tersebut kompeten berdasarkan pendidikan, pelatihan, atau pengalaman yang tepat;
            <br>
            <br>
            - memastikan bahwa semua pekerja berada di bawah pengawasan ketat sampai mereka menunjukkan kemampuan untuk melakukan kegiatan dengan cara yang aman dan selamat;
            <br>
            <br>
            - memastikan bahwa kompetensi pekerja yang dipindahkan ke posisi lain dievaluasi kembali;
            <br>
            <br>
            - jika berlaku, mengambil tindakan untuk memperoleh kompetensi yang diperlukan, dan mengevaluasi efektivitas tindakan yang diambil;
            <br>
            <br>
            - menyimpan informasi terdokumentasi yang sesuai sebagai bukti kompetensi
            <br>
            <br>
        </div>
      </div>
    </div>
</div>