<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle">
        51. Audit Internal
      </h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">

        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="col-sm-12">
        Organisasi memiliki program untuk menentukan bahwa sistem manajemen biorisiko sesuai dengan rencana yang telah
        didokumentasi serta melakukan reviu apakah persyaratan standar manajemen biorisiko yang ditetapkan, telah
        diterapkan dan dipelihara secara efektif.
        <br><br>
        Manajemen yang bertanggungjawab atas area yang di inspeksi dan diaudit memastikan bahwa semua tindakan diambil
        tanpa penundaan untuk mengeliminasi semua ketidaksesuaian beserta akar permasalahanya.
        <br><br>
        Tindak lanjut aktifitas meliputi:
        <li> verifikasi tindakan yang diambil </li>
        <li> melaporkan hasil verifikasi</li>
        <br><br>
        Inspeksi adalah evaluasi kesesuaian dengan observasi dan penilaian disertai dengan pengukuran, pengujian,
        sebagaimana mestinya
        <br><br>
        Audit adalah proses sistematis, independen dan terdokumentasi,untuk mendapatkan bukti audit dan mengevaluasinya
        secara objektif untuk menentukan sejauh mana kriteria audit dipenuhi
      </div>
    </div>
  </div>
</div>