<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle">
        14. Komite Manajemen Biorisiko
      </h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">

        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="col-sm-12">
        Komite harus terdiri dari anggota yang independen terhadap kegiatan yang direviu untuk masalah biorisiko
        <br><br>
        Komite manajemen biorisiko melaporkan kepada manajemen senior dan/atau puncak
        <br><br>
        Komite manajemen biorisiko:
        <li> mendokumentasikan kerangka acuan;</li>
        <li> terdiri dari perwakilan tenaga ahli dari berbagai bidang ilmu, sesuai dengan sifat dan skala kegiatan yang
          dilakukan;</li>
        <li> memastikan masalah yang ditangani menjadi informasi terdokumentasi, termasuk penugasan, pelacakan, dan
          penyelesaian semua tindakan;</li>
        <li> diketuai oleh seseorang yang ditunjuk oleh senior dan/atau manajemen</li>
        <li> melaksanakan pertemuan secara berkala dan jika diperlukan</li>
        <br><br>
        Dokumentasi terkait peran, tanggungjawab dan wewenang, berupa: Surat Keputusan, Surat Tugas, dll
      </div>
    </div>
  </div>
</div>