<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          37. Pengendalian Pemasok 
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">

          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-sm-12">
            Proses evaluasi pemasok dan penyedia jasa yang dapat dijadikan pertimbangan mencakup :
            <br>
            <br>
            - persyaratan kompetensi yang diperlukan dari pemasok, kontraktor, dan subkontraktor yang dapat mengakses fasilitas untuk 
            melakukan pekerjaan sebaiknya ditentukan, dan pihak mengakses fasilitas tersebut sebaiknya menunjukkan kompetensi mereka;
            <br>
            <br>
            - pengembangan kriteria biosafety dan biosecurity khusus dalam spesifikasi untuk persediaan dan jasayang diperoleh;
            <br>
            <br>
            - persyaratan pemasok dan penyedia jasa untuk persediaan dan jasa yang umum diperoleh;
            <br>
            <br>
            - pemasok dan penyedia jasa perlu menyatakan bahwa produk dan layanan mereka sudah memenuhi persyaratan rencana manajemen biorisiko; dan
            <br>
            <br>
            - memastikan penyimpangan dari persyaratan diidentifikasi dan dampaknya pada rencana manajemen biorisiko dievaluasi sebelum layanan atau persediaan digunakan.
            <br>
            <br>
        </div>
      </div>
    </div>
</div>