<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          36. Transportasi bahan biologis (Bu Mira)
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">

          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-sm-12">
            Organisasi sebaiknya mempertimbangkan:
            <br>
            <br>
            - kepastian persyaratan transportasi diidentifikasi dan diterapkan, termasuk persyaratan perundangan yang berlaku serta pedoman nasional dan internasional ;
            <br>
            <br>
            - kepastian sistem pengemasan yang memadai, bahan, label, APD dan dokumentasi tersedia dan digunakan sebagai bagian dari proses transportasi;
            <br>
            <br>
            - memilih jasa pengiriman yang andal dan dapat dipercaya serta memenuhi persyaratan untuk menangani paket dengan aman dan selamat;
            <br>
            <br>
            - jika ada permintaan agen biologis dan toksin atau bahan yang mungkin berisi agen biologis hidup dan toksin yang dibuat oleh fasilitas telah disetujui
            untuk alasan yang sah, dan pengendalian yang setara diterapkan untuk impor bahan ke fasilitas;
            <br>
            <br>
            - keperluan untuk identifikasi surat transfer yang didokumentasikan secara formal, ditandatangani oleh perwakilan manajemen yang bertanggung jawab 
            dan berwenang terhadap perpindahan material.
            <br>
            <br>
            - Pengendalian dokumen transportasi/perpindahan material yang mampu telusur;
            <br>
            <br>
            - identifikasi dan penerapan tanggap darurat yang memadai dan rencana luar duga terkait dengan transportasi, termasuk tindakan pencegahan yang memadai 
            terhadap penanganan paket yang dicurigai, area karantina dan pengendali bahan peledak yang sesuai; dan
            <br>
            <br>
            - pencalonan dan pelatihan penasihat keselamatan transportasi yang memahami persyaratan tertentu untuk kurir terkait pengiriman agen biologis.
            <br>
            <br>
        </div>
      </div>
    </div>
</div>