<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          43. Pengendalian Inventaris
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">

          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-sm-12">
            Daftar sebaiknya  meliputi:
            <br>
            <br>
            - alasan untuk menyimpan atau menjaga agen biologis atau toksin;
            <br>
            <br>
            - tingkat pengendalian di lokasi tertentu, termasuk kemungkinan untuk penandaan yang mudah dibaca dan pengidentifikasian yang tahan lama;
            <br>
            <br>
            - pencatatan jumlah dan volume berdasarkan pada tingkat dan risiko yang sesuai; dan
            <br>
            <br>
            - pemisahan dan penyimpanan agen biologis dan toksin berdasarkan risiko.
            <br>
            <br>
        </div>
      </div>
    </div>
</div>