<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle">
        31. Alat Pelindung Diri
      </h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">

        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="col-sm-12">
        <li>Memastikan informasi yang memadai digunakan dalam memilih APD (misalnya penilaian risiko, tinjauan dan
          analisis tugas, umpan balik karyawan, dll);</li>
        <li>Memastikan semua personel (termasuk ilmuwan, pengunjung dan kontraktor) yang wajib menggunakan APD
          diidentifikasi dan disediakan APD yang sesuai;</li>
        <li>Pemilihan dan penggunaan APD secara eksplisit dituangkan untuk dalam POB, pelatihan dan penilaian
          kompetensi;</li>
        <li>Menetapkan dan melaksanakan program yang sesuai untuk memastikan bahwa pemeriksaan rutin dan pemeliharaan
          APD telah ditetapkan dan dilaksanakan;</li>
        <li>Menetapkan dan mengalokasikan kebutuhan persediaan untuk penggantian dan cadangan APD;</li>
        <li>Mengidentifikasi dan mengendalikan bahaya yang berhubungan dengan APD itu sendiri (misalnya ketidaknyamanan
          atau visibilitas);</li>
        <li>Menyediakan kecukupan APD untuk digunakan baik dalam kondisi kerja normal maupun darurat;</li>
        <li>Memastikan prosedur untuk pembersihan diterapkan dan jika sesuai juga dekontaminasi untuk APD yang sudah
          dipakai telah divalidasi, termasuk di dalamnya penyimpanan yang aman sebelum disinfeksi.</li>
      </div>
    </div>
  </div>
</div>