{% extends "blog/base.html"%}
{% block content %}
    <h1>Selamat datang di laman One Health Laboratory Network</h1>
{% for post in posts %}
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card influencer-profile-data">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-2 col-lg-4 col-md-4 col-sm-4 col-12">
                            <div class="text-center">
                                <img src="../static/blog/assets/images/avatar-1.jpg" alt="User Avatar" class="rounded-circle user-avatar-xxl">
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-8 col-md-8 col-sm-8 col-12">
                                <div class="user-avatar-info">
                                    <div class="m-b-20">
                                        <div class="user-avatar-name">
                                            <h2 class="mb-1">{{ post.nama_lengkap_laboratorium }}</h2>
                                        </div>
                                        <div class="d-inline-block">
                                        #{{ post.akronim_laboratorium }}
                                        </div>
                                    </div>
                                    <div class="user-avatar-address">
                                        <p class="border-bottom pb-3">
                                            <span class="d-xl-inline-block d-block mb-2"><i class="fa fa-map-marker-alt mr-2 text-primary "></i>{{ post.alamat_lengkap}} {{ post.kab_kota }}</span>
                                            <span class=" mb-2 d-xl-inline-block d-block ml-xl-4"><i class="fa fa-phone mr-2 text-primary "></i>{{ post.nomor_telepon }}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div class="row">

            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="float-right icon-circle-medium icon-box-lg bg-info-light mt-1">
                            <i class="fa fa-eye fa-fw fa-sm text-info"></i>
                        </div>
                        <h5 class= "text-muted">Laporan Terakhir</h5>
                        <h2 class="mb-0">10,000</h2>
                        
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="float-right icon-circle-medium icon-box-lg bg-info-light mt-1">
                            <i class="fa fa-user fa-fw fa-sm text-primary"></i>
                        </div>
                        <h5 class= "text-muted">Total Laporan</h5>
                        <h2 class="mb-0">1,000</h2>
                        
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="float-right icon-circle-medium icon-box-lg bg-info-light mt-1">
                            <i class="fa fa-money-bill-alt fa-fw fa-sm text-brand"></i>
                        </div>
                        <h5 class= "text-muted">#TODO fill me</h5>
                        <h2 class="mb-0">$149.00</h2>
                        
                    </div>
                </div>
            </div>

        </div>

{% endfor %}
{% endblock content%}