{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
<!-- ============================================================== -->
<!-- signup form  -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- signup form  -->
<!-- ============================================================== -->
{% block content %}
<div class="card-header text-center"><a href="#"><img class="logo-img"
            src="{% static 'users/assets/images/indohun.png' %}" alt="logo"></a>
    <span class="splash-description">Formulir Registrasi</span>
    <span class="splash-description">Silahkan masukan informasi anda</span>
</div>
<div class="card-body">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            {{ form|crispy }}
        </fieldset>

        <p id="top">
            <a data-toggle="modal" data-target="#syaratDanKetentuan">
                Syarat Dan Ketentuan
            </a>
        </p>

        <div class="modal fade" id="syaratDanKetentuan" tabindex="-1" role="dialog"
            aria-labelledby="judulSyaratDanKetentuan" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="judulSyaratDanKetentuan">
                            Baca Syarat Dan Ketentuan
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">

                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="col-sm-12">
                            Syarat dan ketentuan ini (bersama dengan dokumen-dokumen yang disebutkan di atasnya)
                            memberitahu Anda persyaratan penggunaan ("ketentuan") di mana Anda dapat mengakses situs web
                            kami www.perangkatpenilailab.id ("situs"), baik sebagai tamu atau pengguna terdaftar.
                            Silakan baca ketentuan penggunaan dengan cermat sebelum Anda mulai menggunakan situs. Dengan
                            menggunakan situs kami, Anda menunjukkan bahwa Anda menerima syarat penggunaan dan Anda
                            setuju untuk mematuhinya. Jika Anda tidak setuju dengan ketentuan ini, harap menahan diri
                            dari menggunakan situs kami.
                            <br />
                            <br />I. INFORMASI TENTANG KAMI
                            <br />1.1 situs kami dioperasikan oleh One Health Laboratory Network (OHLN) di lantai 3,
                            Gedung G, ruang G316, Fakultas Kesehatan Masyarakat, Universitas Indonesia, Depok, Jawa
                            Barat. Selanjutnya disebut ("Kami").
                            <br />1.2 OHLN merupakan jejaring laboratorium kesehatan yang memiliki visi memperkuat
                            kapasitas dan kerjasama laboratorium multisektor di Indonesia.
                            <br />1.3 Situs web Kami berisi kuesioner pemetaan dasar kapasitas manajemen mutu
                            laboratorium, pemetaan dasar penerapan manajemen biorisiko, dan perangkat penilaian
                            laboratorium (PPL) sistem manajemen biorisiko sesuai SNI 8340:2016 yang berlaku di Indonesia
                            saat ini.
                            <br />
                            <br />II. AKSES SITUS KAMI
                            <br />2.1 akses ke situs diperbolehkan setelah anda mendaftar ke situs kami, dan kami berhak
                            untuk menarik atau mengubah layanan yang kami sediakan di situs kami tanpa pemberitahuan
                            sebelumnya. Kami tidak akan bertanggung jawab jika untuk alasan apapun situs kami tidak
                            tersedia setiap saat atau untuk suatu periode.
                            <br />2.2 pada waktu tertentu, apabila ada proses perbaikan (maintenance), kami mungkin akan
                            membatasi akses ke beberapa bagian atau keseluruhan situs kami, untuk pengguna yang telah
                            terdaftar dalam situs kami.
                            <br />2.3 jika Anda memilih, atau Anda akan diberikan, kode identifikasi pengguna, sandi,
                            atau setiap bagian lain dari informasi sebagai bagian dari prosedur keamanan kami, Anda
                            harus memperlakukan informasi tersebut sebagai rahasia, dan diharapkan agar Anda menjaga
                            kerahasiaannya dari pihak ketiga. Kami memiliki hak untuk menonaktifkan setiap kode
                            identifikasi pengguna atau kata sandi setiap saat, jika Anda gagal untuk mematuhi ketentuan
                            dari syarat penggunaan.
                            <br />2.4 Anda bertanggung jawab untuk membuat semua pengaturan yang diperlukan bagi Anda
                            untuk mengakses situs kami. Anda juga bertanggung jawab untuk memastikan bahwa semua orang
                            yang mengakses situs kami menyadari dan mematuhi syarat penggunaan.
                            <br />
                            <br />III. HAK KEKAYAAN INTELEKTUAL
                            <br />3.1 kami adalah pemilik atau pemegang lisensi semua hak kekayaan intelektual di situs
                            kami termasuk segala merek dagang, dan materi yang dipublikasikan di atasnya. Karya-karya
                            dilindungi oleh hukum hak cipta dan perjanjian di seluruh dunia. Semua hak dilindungi
                            undang-undang.
                            <br />3.2 anda dilarang menggunakan setiap bagian dari bahan-bahan di situs kami untuk
                            tujuan komersial tanpa memperoleh lisensi.
                            <br />3.3 jika Anda mencetak, menyalin atau mengunduh bagian dari situs kami yang berbentuk
                            informasi, data, maupun gambar untuk kebutuhan komersil, maka hal tersebut melanggar
                            ketentuan penggunaan, hak Anda untuk menggunakan situs kami akan terhenti segera dan Anda
                            harus mengembalikan atau memusnahkan salinan bahan-bahan yang telah Anda buat.
                            <br />3.4 Anda dapat menggunakan perangkat pada website ini dengan ketentuan sebagai
                            berikut:
                            <br />memberikan atribut perangkat atau sitasi
                            <br />dilarang keras menggunakan perangkat ini untuk tujuan komersial dan penelitian tanpa
                            izin dari INDOHUN
                            <br />dilarang mengubah dan/atau membuat turunan dari perangkat dalam website ini.
                            <br />3.5 Metode pembobotan pada PPL sistem manajemen biorisiko (SNI 8340:2016) dalam
                            website ini merujuk dan mengadaptasi dari Food and Agriculture Organization (FAO) Laboratory
                            Mapping Tool. Semua permintaan untuk tujuan penelitian dan komersial harus menghubungi
                            nco@indohun.org atau ke 021 2930 2084.
                            <br />3.6 Website ini dipublikasikan oleh INDOHUN National Coordinating Office, Kampus Baru
                            Universitas Indonesia, Fakultas Kesehatan Masyarakat, Gedung G Lantai 3, Ruang 316 Depok,
                            Jawa Barat, Indonesia 16424.
                            <br />
                            <br />IV. PERUBAHAN SITUS
                            <br />4.1 kami akan memperbarui situs kami secara teratur, dan dapat mengubah konten setiap
                            saat. Jika kebutuhan tersebut muncul, kami dapat menangguhkan akses ke situs kami, atau
                            menutup tanpa batas. Salah satu materi di situs kami mungkin kedaluwarsa pada waktu
                            tertentu, dan kami tidak berkewajiban untuk memperbaharui materi tersebut.
                            <br />V. INFORMASI MENGENAI ANDA DAN KUNJUNGAN ANDA KE SITUS KAMI
                            <br />5. Kami memproses informasi tentang Anda sesuai dengan kebijakan privasi kami. Dengan
                            menggunakan situs kami, Anda menyetujui pengolahan tersebut dan Anda menjamin bahwa semua
                            data yang diberikan oleh Anda akurat.
                            <br />
                            <br />VI. LINK DARI SITUS KAMI
                            <br />6. Situs kami berisi link ke situs lain dan sumber daya yang disediakan oleh pihak
                            ketiga, tautan ini disediakan untuk informasi saja. Kami tidak memiliki kontrol atas isi
                            dari situs atau sumber daya tersebut, dan tidak menerima tanggung jawab untuk mereka atau
                            untuk setiap kerugian atau kerusakan yang mungkin timbul dari penggunaan Anda dari mereka.
                            <br />
                            <br />VII. VARIASI
                            <br />7. Kami mungkin akan merevisi syarat penggunaan kapanpun dengan mengubah Halaman ini.
                            Anda diharapkan untuk memeriksa Halaman ini dari waktu ke waktu untuk mengakses
                            pemberitahuan dari setiap perubahan yang kami buat.
                            <br />
                            <br />VIII. PERLINDUNGAN DATA DAN PRIVASI
                            <br />8. Kami tidak akan menggunakan data pribadi yang Anda dan/atau Data Instansi yang Anda
                            berikan kepada kami sesuai dengan kebijakan privasi yang dapat diakses dengan mengklik
                            hyperlink: kebijakan privasi.
                            <br />
                            <br />IX. HUBUNGI
                            <br />9. Jika Anda mempunyai masukan dan tanggapan apapun tentang materi yang muncul pada
                            situs kami, silahkan hubungi nco@indohun.org
                            <br />
                            <br />X. LAINNYA
                            <br />10.1 pemberitahuan atau komunikasi lainnya yang akan diberikan di bawah ketentuan ini
                            harus dilakukan secara tertulis dan dapat disampaikan atau dikirim ke email nco@indohun.org.
                            <br />10.2 persyaratan penggunaan, syarat dan ketentuan dan kebijakan privasi ini merupakan
                            perjanjian antara kami dan Anda sebagai pengguna situs.


                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="form-group">
            <label class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox"><span class="custom-control-label">Ingat
                    Akun Saya</span>
            </label>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Registrasi</button>
        </div>
    </form>
</div>
<div class="card-footer bg-white p-0  ">
    <div class="card-footer-item card-footer-item-bordered">
        <p>Sudah menjadi anggota? <a href="{% url 'login' %}" class="text-secondary">Masuk Disini.</a></p>
    </div>
</div>
{% endblock content %}